<h1>About Readdit</h1>
<p>Created by: John McIntosh II</p>
<p>Readdit allows you to post, vote on, share and favorite, links and comments.</p>
<p>If you see a topic that you like, please create posts and make comments.</p>
