<br>
<div class="jumbotron">
    <h1>Readdit</h1>
    <p>Readdit is a resource for sharing links with your friends!</p>
    <p>
        <%= link_to "Sign In", new_session_path, class: 'btn btn-primary' %> or
        <%= link_to "Sign Up", new_user_path, class: 'btn btn-primary' %> today!
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Brings the latest news</h2>
        <p>Readdit keeps you updated about the world and your local community.</p>
    </div>
    
    <div class="col-md-4">
        <h2>Entertains</h2>
        <p>Readdit brings the greatest collections of memes, fanfiction, work stories, and more!</p>
    </div>
    
    <div class="col-md-4">
        <h2>Maintains connections</h2>
        <p>Readdit helps you stay in touch with those you cherish most.</p>
    </div>
</div>